body {
    background-color: black; /* Set background color of the entire page to black */
    color: white; /* Set text color to white */
    font-family: 'Courier New', Courier, monospace; /* Set font to typewriter style */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px; /* Set font size of h1 to 36px */
}

h2 {
    font-size: 18px; /* Set font size of h1 to 36px */
}

#goal {
    color:gold;
    border: 2px solid white;
    padding: 10px;
}

textarea, #textInput {
    width: calc(100% - 20px); /* Subtract padding from width */
    margin-bottom: 10px;
    resize: none; /* Prevent resizing */
    height: 36px; /* Set height to one line */
    font-family: 'Courier New', Courier, monospace; /* Set font to typewriter style */
    font-size: 24px; /* Set font size of text area */
    background-color: black; /* Set background color to black */
    color: white; /* Set text color to white */
    border: none; /* Add border to textarea */
    text-align: center; /* Align text to the center */
    padding-top: 10px; /* Add padding to center vertically */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#displayArea {
    margin-top: 20px;
}

.center-container {
    text-align: center;
}

.confetti-container {
    position: relative;
    display: inline-block; /* Permet au conteneur de s'adapter à la taille du texte */
}

.confetti {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #f00; /* couleur des confettis */
    border-radius: 0;
    animation: confetti-fall 3s ease-in-out infinite;
}

.confetti:nth-child(1) {
    top: 0;
    left: 100px;
}

.confetti:nth-child(2) {
    top: 0;
    right: 100px;
}

.confetti:nth-child(3) {
    bottom: 0;
    left: 100px;
}

.confetti:nth-child(4) {
    bottom: 0;
    right: 100px;
}

.confetti:nth-child(5) {
    top: 0;
    left: 0;
}

.confetti:nth-child(6) {
    top: 0;
    right: 0;
}

.confetti:nth-child(7) {
    bottom: 0;
    left: 0;
}

.confetti:nth-child(8) {
    bottom: 0;
    right: 0;
}

@keyframes confetti-fall {
    0% {
        transform: translateY(0) rotate(0);
        opacity: 0;
    }
    50% {
        transform: translateY(-100px) rotate(360deg);
        opacity: 1;
    }
    100% {
        transform: translateY(0) rotate(720deg);
        opacity: 0;
    }
}

.niveaux {
    display: flex;
    flex-wrap: wrap;
}

.niveau {
    width: 25px;
    height: 25px;
    margin: 10px;
    background-color: black; /* Fond noir */
    color: white; /* Texte blanc */
    border: 1px solid white; /* Bordure blanche */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
