<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Input Display</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>Text Input Display</h1>
        <form action="/test" method="post">
            <textarea id="textInput" name="textInput" rows="1" placeholder="DUMB TEST">{{ texte|default("") }}</textarea>
            <!-- <button onclick="displayText()">Display Text</button> -->
            <button type="submit">Test python</button>
        </form>
        <div id="displayArea"></div>
    </div>
    <p class="time">Average time: {{ mot|default("") }}</p>
</body>
</html>
